:root {
  --primary: #f2f2f2;
  --secondary: #9a2525de;
  --tertiary: #036f73d6;
  --bg-primary: #e5e5e5;
  --bg-secondary: #587da1;
  --bg-tertiary: #ccbba3;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* start container starts */
#start-container {
  background: var(--bg-tertiary);
  font-size: 1.5rem;
  padding: 3% 10%;
  border-radius: 10px;
  text-align: center;
  display: none;
}

#start-container h2 {
  padding-bottom: 5%;
}

button {
  background: var(--bg-secondary);
  color: whitesmoke;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

input {
  padding: 17px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  outline: none;
}
/* start container ends */

/* quiz container starts */
.quiz-container {
  height: 100V;
  background: var(--bg-tertiary);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  position: relative;
  top: 10%;
  transform: translateY(-5%);
  text-align: center;
  width: 100%;
  max-width: 90%;
  margin: auto;
  padding: 40px;
}
/* quiz container ends */
