/* global */
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Signika:wght@300..700&display=swap");

:root {
  --primary: #ffa400;
  --black: #0c0a0a;
  --white: #ffffff;
  --gb-dark: #383636;
  --bg-gray: rgb(235, 230, 230);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika";
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Chewy";
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 5rem 0.5rem;
}

.title {
  color: var(--primary);
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
}
.title::after {
  content: "";
  width: 7rem;
  height: 0.1rem;
  margin: 2rem auto;
  display: block;
  background-color: var(--primary);
}
/* global ends */

/* nav starts */
nav {
  background: var(--white);
  padding: 1rem 0;
  border-bottom: 1px solid var(--bg-gray);
  position: sticky;
  top: 0;
  z-index: 100;
}
nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: var(--primary);
  font-size: 2rem;
}
.logo:hover {
  color: var(--black);
}

#toggle {
  color: var(--primary);
  border: 0;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0.7rem;
  cursor: pointer;
  display: none;
}

nav .navbar li {
  display: inline-block;
  margin-right: 0.3rem;
}
nav .navbar li a {
  display: block;
  padding: 0.7rem;
  text-transform: uppercase;
  color: var(--primary);
}
nav .navbar li a:hover {
  color: var(--black);
}

/* nav ends */

/* home slide starts */
#home .owl-carousel .home-slide {
  height: 35rem;
  position: relative;
}

#home .owl-carousel .home-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home .home-slide .content {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}
#home .home-slide .content h1 {
  color: var(--primary);
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
#home .home-slide .content h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
/* home slide ends */

/* about starts */
#about h1 {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

#about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#about .about-content .about-content-info,
#about .about-content .about-content-img {
  width: 50%;
  padding: 1rem;
}

#about .about-content .about-content-info h2 {
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#about .about-content .about-content-info p {
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

#about .about-content .about-content-img {
  text-align: center;
}

#about .about-content .about-content-img img {
  width: 88%;
  outline: 2px solid var(--black);
  outline-offset: 20px;
}
/* about ends */

/* gallery starts */
#gallery {
  background: var(--bg-gray);
}

#gallery .gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

#gallery .gallery-content .card {
  flex: 1 0 20rem;
}

#gallery .gallery-content .card .card-img {
  width: 100%;
  height: 15rem;
}

#gallery .gallery-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery .gallery-content .card .card-body {
  background: #fff;
  padding: 1.5rem;
}

#gallery .gallery-content .card .card-body h2 {
  color: var(--primary);
}
/* gallery ends */

/* contact starts */
#contact form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#contact form .form-input {
  width: 47%;
}

#contact form .form-input input,
#contact form .form-input textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--bg-gray);
}

#contact form .form-input input::placeholder,
#contact form .form-input textarea::placeholder {
  font-size: 1rem;
}

#contact form button {
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--bg-gray);
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  color: var(--black);
}
/* contact ends */

/* media query starts */
@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  /* about */
  #about .about-content .about-content-info,
  #about .about-content .about-content-img {
    width: 100%;
  }

  #about .about-content .about-content-img {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 550px;
  }

  /* nav */
  nav {
    position: relative;
  }

  nav #toggle {
    display: block;
  }

  nav .navbar {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: var(--white);
    border-top: 1px solid var(--black);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  nav .navbar li {
    display: block;
    text-align: center;
  }
  nav .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  /* contact */
  #contact form .form-input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
/* media query ends */
