* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
}

@font-face {
    font-family: heading;
    src: url(../fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf);
}

@font-face {
    font-family: general;
    src: url(../fonts/Kumbh_Sans/static/KumbhSans-Medium.ttf);
}

/* header starts */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(83, 208, 250);
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37) inset;
    position: sticky;
    top: 0;
    z-index: 99999;
}


header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: general, Arial, Helvetica, sans-serif;
}

.left-side {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex: 60%;  
    align-items: center;
}

.myat-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.left-side h1 {
    font-family: heading, Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.right-side {
    flex: 40%;   
}

.right-side  ul {
    display: flex;
   justify-content: space-evenly;
    
}

.right-side ul li {
    list-style: none;
    padding: 10px 15px;
    transition: background 0.16s;
}


.right-side ul li:hover {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
}

.right-side ul li:active {
    opacity: 0.5;
}
/* header ends */


/* home section starts */
#bio {
    display: flex;
    padding: 90px 20px;
    background-color: rgb(83, 208, 250);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37) inset;
}

.name-intro-container {
    flex: 1 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.name-intro-shape {
    height: 400px;
    width: 310px;
    background: rgb(241, 238, 238);
    position: relative;
    border-left: 2px solid rgb(83, 208, 250);
    border-radius: 10px;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.37);
}

.name-intro {
      position: absolute;
      top: -20px;
      left: 10px;
     letter-spacing: 1px; 
}

.name-intro span {
    font-size: 2.5rem; 
    text-shadow: 0 3px 2px black;
}

.my-strong-point {
    position: absolute;
    top: 110px;
    left: 15px;
    font-family: general, Arial, Helvetica, sans-serif;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
}

.mywork-bt {
    position: absolute;
    top: 250px;
    left: 30px;
    border: none;
    background-color: rgb(83, 208, 250);
    padding: 10px 15px;
    border-radius: 5px;
    font-family: general, Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: box-shadow 0.16s;
}

.contactme-bt {
    position: absolute;
    top: 250px;
    right: 30px;
    border: none;
    background-color: rgb(83, 208, 250);
    padding: 10px 15px;
    border-radius: 5px;
    font-family: general, Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: box-shadow 0.16s;
}

.mywork-bt:hover, .contactme-bt:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
}

.mywork-bt:active, .contactme-bt:active {
    opacity: 0.5;
}

.myat-bg-container {
    flex: 1 20rem; 
}

.myat-bg {
    border-radius: 30px;
    box-shadow: 0 0 30px black;
    height: 600px;
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

 /* home section ends */



 /* MyWork section starts */
#mywork {
    background-color: rgb(83, 208, 250);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37) inset; 
}

.section-title {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.085);
    margin: 0 auto;
    width: 50%;
}

.project-container {
    display: flex;
    padding: 3rem 4rem 9rem 4rem;
    gap: 20px;
}

.run-buddy, .youtube-main-feed {
    flex: 20rem;
    flex-grow: 1;
   
}

.project-name {
    height: 10%;
    text-align: center;
    margin: 15px 0;
    font-family: heading, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.run-buddy-img, .youtube-main-img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.37);
    margin-bottom: 10px;
    padding: 10px;
    object-fit: cover;
    object-position: left;
    transition: box-shadow 0.16s, padding 0.16s;
}


.run-buddy-img:hover, .youtube-main-img:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.37);
    padding: 11px;   
}

.run-buddy-img:active, .youtube-main-img:active {
    opacity: 0.5;
}

 /* MyWork section ends */


 /* ContactMe section starts */
#contactme {
    background-color: rgb(83, 208, 250);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37) inset;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

address {
    padding: 30px;
    display: flex;
    align-items: end;
}

.address-icon {
    height: 100px;
    margin-right: 15px;
}

.live-in {
    font-size: 1.8rem;
}

.my-email-container {
    padding-left: 40px;
    font-size: 1.3rem;
    font-family: general, Arial, Helvetica, sans-serif;
}

.my-email {
    text-decoration: none;
    color: rgb(99, 69, 33);
}

.footer-right-side {
    padding-right: 50px;
}

.facebook-icon, .line-icon {
    height: 50px;
    margin-right: 2rem;
}
 /* ContactMe section ends */

 /* Media Queries starts */ 
 /* max width 950px breakpoint starts */
 @media (max-width: 950px) {
    .left-side h1 {
        font-size: 1.5rem;
    }

    .right-side ul li a {
        font-size: 16px;
    }


    .myat-bg {  
        height: 450px;  
    }

    .run-buddy,
    .youtube-main-feed {
        flex: 15rem;
    }

    .project-name {
        font-size: 1.1rem;
    }

    .live-in {
        font-size: 1.4rem;
    }

    .my-email-container {
        font-size: 1.1rem;
    }
    
 }
 /* max width 950px breakpoint ends */


 /* max width 785px breakpoint starts */
 @media (max-width: 785px) {
    header {
        display: block;
    }

    .left-side, .right-side {
        justify-content: center;
    }

    .name-intro-shape {
        border-left: 2px solid black;
        background: #91712b10;
        height: 300px;
        width: 210px;
    }

    .name-intro {
        font-size: 1rem;
        top: -13px;
    }

    .name-intro span {
        font-size: 1.5rem;
        text-shadow: none;
    }

    .my-strong-point {
        font-size: 12px;
    }

    .mywork-bt {
        left: 10px;
        font-size: 12px;
        background: white;
        box-shadow: 0 0 8px black;
        padding: 5px 10px;
    }

    .contactme-bt {
        right: 10px;
        font-size: 12px;
        background: white;
        box-shadow: 0 0 8px black;
        padding: 5px 10px;
     }

         .mywork-bt:hover,
         .contactme-bt:hover {
            box-shadow: 0 0 10px black;
            font-size: 13px;
         }

}
 /* max width 785px breakpoint ends */
 /* Media Queries ends */ 