* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 1000px;
    background: rgb(0, 0, 0);
   
}

@font-face {
    font-family: heading;
    src: url(../fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf);
}

@font-face {
    font-family: general;
    src: url(../fonts/Kumbh_Sans/static/KumbhSans-Medium.ttf);
}

/* header starts */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(83, 208, 250);
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37) inset;
}


header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: general, Arial, Helvetica, sans-serif;
}

.left-side {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex: 60%;  
}

.myat-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.left-side h1 {
    font-family: heading, Arial, Helvetica, sans-serif;
}

.right-side {
    flex: 40%;   
}

.right-side  ul {
    display: flex;
   justify-content: space-evenly;
    
}

.right-side ul li {
    list-style: none;
}
/* header ends */

/* home section starts */
#home {
    display: flex;
    padding: 90px 20px;
    background-color: rgb(83, 208, 250);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37) inset;
    flex-wrap: wrap;
}

.name-intro-container {
    flex: 1 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.name-intro-shape {
    height: 400px;
    width: 310px;
    background: rgb(241, 238, 238);
    position: relative;
    border-radius: 10px;
}

.name-intro {
      position: absolute;
      top: -20px;
      left: 10px;
     letter-spacing: 1px; 
}

.name-intro span {
    font-size: 2.5rem;  
}

.my-strong-point {
    position: absolute;
    top: 110px;
    left: 10px;
    font-family: general, Arial, Helvetica, sans-serif;
}

.myat-bg-container {
    flex: 1 20rem; 
}

.myat-bg {
    border-radius: 30px;
    box-shadow: 0 0 30px black;
    height: 600px;
    
}

 /* home section ends */



 /* MyWork section starts */
#mywork {
    display: flex;  
    padding: 10rem 3rem;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(83, 208, 250);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37) inset;
}

.run-buddy, .youtube-main-feed {
    flex: 20rem;
    flex-grow: 1;
}

.run-buddy img, .youtube-main-feed img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
}


 /* MyWork section ends */