* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header starts */
header {
    display: flex;
    justify-content: space-between;
    background: lightblue;
    align-items: center;
    padding: 5px 20px;
}


header a {
    text-decoration: none;
}

.left-side {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex: 60%;
   
}

.myo-myat-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.right-side {
    flex: 40%;   
}

.right-side  ul {
    display: flex;
   justify-content: space-evenly;
    
}

.right-side ul li {
    list-style: none;
}
/* header ends */